<!doctype html>
<html lang="en">
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Corvorant Course System">
    <meta name="author" content="Lucas Waye">
    <title>{% block title %}Corvorant{% endblock %}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/corvorant.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    {% block top_body %}{% endblock %}
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Corvorant</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if page == 'home' %}class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if page == 'about' %}class="active" {% endif %}><a href="/about">About</a></li>
            {% if not user %}
            <li {% if page == 'register' %}class="active" {% endif %}><a href="/register">Register</a></li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Student</li>
                <li><a href="#">CS 153</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Instructor</li>
                <li><a href="#">Test</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <form class="navbar-form navbar-right userbar" method="post" action="/login">
            {% if not user %}
            <div class="form-group">
              <input type="text" name="username" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            {% else %}
            <p>
                Welcome, {{user.username}} [ <a href="/logout">Logout</a> ]
            </p>
            {% endif %}
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block container %}{% endblock %}
  </body>
</body>
</html>