{% extends "frame.html" %}
{% set page = 'register' %}
{% block title %}Corvorant Course System :: Register{% endblock %}
{% block container %}

<div class="container">
<div class="jumbotron">
    <h2>Not So Fast...</h2>
    <p>Automatic signups are currently disabled right now.</p>
    <p> If you are a student using Corvorant, you will need your instructor to create your account.</p>
    <p> If you are an instructor interested in using Corvorant, please contact us for more information.</p>
  </div>
  {% include 'footer.html' %}
</div>

{% endblock %}